name: Request

on: 
    schedule:
    - cron: "*/5 * * * *"

jobs:
  request:
    runs-on: ubuntu-latest
    steps:
      - name: Request
        uses: satak/webrequest-action@master
        with:
            url: https://github-readme-stats-mitra-electronics.vercel.app/
            method: GET
